<div class=content>
  <div class="wrapper-1">
    <div class="wrapper-2">
      <h1>Thank you !</h1>
      <p>Your score has been submitted.  </p>
      <p>please fell free to explore other quiz categories also. </p>
      <button class="go-home"  onclick="location.href='http://127.0.0.1:8000/getquestion/categories';">
       Explore
      </button>
    </div>
    <div class="footer-like">
      <p>
      
      </p>
    </div>
</div>
</div>



<link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" href="../../static/miniquiz/css/thanks.css">